@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

#menu {
  background-color: #fff;
  width: 270px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.menu-itens {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.infos-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.logo-menu {
  width: 35px;
}

.nome-base {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #737373;
}

.btn-menu {
  text-decoration: none;
  transition: color 0s;
  position: fixed;
  left: 295px;
  top: 50px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #737373;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.icon-btn {
  font-size: 10px;
}

.btn-menu:hover {
  left: 285px;
  width: 35px;
  border-radius: 12.5px;
  transition: linear 100ms;
  background-color: #337ab7;
  color: #ffffff;
}

.btn-menu:focus {
  transform: rotate(180deg);
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.modulo-base {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  text-decoration: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px;
}

.nome-modulo {
  font-size: 14px;
  font-weight: 600;
  color: #737373;
}

.material-symbols-outlined {
  color: #737373;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


.icon {
  display: flex;
  align-items: center;
  padding: 15px 0;
  text-decoration: none;
}

.icon-menu {
  color: #737373;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.icon-texto {
  font-size: 12px;
  font-weight: 500;
  color: #737373;
  padding-left: 15px;
}

.menu-separador {
  width: 245px;
  border-top: 1px solid #dddddd;
  margin: 50px 0;
}

.infos-sistema {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 15px;
}

.infos-texto {
  font-weight: 200;
  color: #737373;
}

.aba-sidebar {
  border: 1px solid #dddddd;
  border-radius: 0 15px 15px 0;
  width: 300px;
  height: 100vh;
}